body{
    background-color: black;
    color: white;

}

li{
    font-size: 18px;
    color: rgb(255, 255, 255);
}

#html{
    color: rgb(0, 245, 253);
}

#css{
    color: rgb(30, 255, 0);
}

#js{
    color: rgb(255, 255, 255);
}

button{
    background-color: pink;
    padding: 10px 20px; /* ESPAÇO INTERNO */
    margin: 10px; /* ESPAÇO EXTERNO */
    border-radius: 10px; /* BORDA */
    max-width: 100px;
}